<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.full_name %>, your Chill and Grill account is now approved!</h1>
    <p style="margin: 1em 0;">
      You will now be able to view and register for events! <br>
      To see upcoming events please follow this link <%= link_to "Chill and Grill", events_url %> <br>
      Hope to see you soon.
    </p>
    <%= render "footer" %>
  </body>
</html>