<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.full_name %> your Account is now Approved! at ChillAndGrill.info</h1>
    <p style="margin: 1em 0;">
      You will now be able to view and register for events! <br>
      Hope to see you soon.
    </p>
  </body>
</html>