<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @event.title %> has been canceled.</h1>
    <p style="margin: 1em 0;">
      We apologize, but the event <%= @event.title %> has been canceled.
      This event was supposed to take place on: <%= @event.start %>      
    </p>
  </body>
</html>