<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @event.title %> has been canceled.</h1>
    <p style="margin: 1em 0;">
      We apologize, but the event <%= @event.title %> has been canceled. <br>
      This event was supposed to take place on: <%= format_date_time @event.start %> <br>
      To see additional events please follow this link <%= link_to "Chill and Grill", events_url %> <br>
    </p>
  </body>
</html>