<div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
</div>
<div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
</div>