<% if can?(:update, event) || can?(:destroy, event) %>
	<div class="admin_panel">
		<% if can? :update, event %>
		    <%= link_to 'Edit', edit_event_path(event) %>
		<% end %>
		<% if can? :destroy, event %>
		    <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
		<% end %>
	</div>
<% end %>