<% yes = true if local_assigns[:attending].nil? %>
<div class="rsvp">
	<span class="user_name"><%= "#{rsvp.user.first_name} #{get_guests rsvp}" %></span>
	<% if yes %>  		
  		<p class="rsvp_comment"><%= rsvp.comment %></p>
	<% elsif can? :manage, rsvp %>
		<%= link_to "View RSVP", event_rsvp_path(rsvp.event, rsvp) %>
	<% end %>
</div>