<% yes = true if local_assigns[:attending].nil? %>
<div class="rsvp">
	<span class="user_name"><%= "#{rsvp.user.first_name} #{get_guests rsvp}" %></span>
	<% if can? :manage, rsvp %>
		<%= link_to "View", event_rsvp_path(rsvp.event, rsvp) %>
		<%= link_to "Edit", edit_event_rsvp_path(rsvp.event, rsvp) %>
	<% end %>
	<% if yes %>  		
  		<p class="rsvp_comment"><%= rsvp.comment %></p>
	<% end %>
</div>