<h2>Design Resources</h2>

<ul>
	<li>
		<a href="http://www.photoshopfreebrushes.com/fire-brushes/" target="_blank">13 Hi-Res Fire Background Photoshop Brushes</a><br>
		<span>Used to create the Chill And Grill Logo</span>
	</li>
</ul>