<h2>Inspiration</h2>
<p>
	Bryan is a Software Engineer and is always looking for new projects to do outside of work.  He wanted to do a project that would utilize and improve the skills he uses every day at work, but also wanted to do something a little different than what he does daily.  At work, Bryan uses web technologies, but does not use Ruby.  Bryan thought it would be fun to learn Ruby and Rails, so he selected these as the core technologies for this project.
</p>
<p>
	Bryan also enjoys grilling and having people over for dinner.  This helped inspire this project idea, which was to make a basic event management system that is customized for private grilling events.  This project provides help in oranizing these events with friends and family.
</p>

<h2>Lead Developer</h2>
<ul>
	<li>Bryan</li>
</ul>

<h3>Developer Resources</h3>
<ul>
	<li><a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a></li>
	<li><a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></li>
	<li><a href="http://sass-lang.com/" target="_blank">Sass - Syntactically Awesome Stylesheets</a></li>
	<li><a href="https://github.com/corsen2000/ChillAndGrill" target="_blank">Many others</a></li>
</ul>

<h3>Source</h3>
<a href="https://github.com/corsen2000/ChillAndGrill" target="_blank">https://github.com/corsen2000/ChillAndGrill</a>

<h2>Lead Designer</h2>
<ul>
	<li>Shannon</li>
</ul>

<h3>Design Resources</h3>

<ul>
	<li>
		<a href="http://www.photoshopfreebrushes.com/fire-brushes/" target="_blank">13 Hi-Res Fire Background Photoshop Brushes</a><br>
		<span>Used to create the Chill And Grill Logo</span>
	</li>
</ul>