<% if signed_in? %>
    <h1>Welcome <%= current_user.first_name %></h1>
    <h2>Upcoming Events</h2>
<% else %>
    <h1>Welcome to Chill And Grill</h1>
    <p>
      Chill And Grill is the best place to find grilling events hosted by Bryan and Shannon.
    </p>
<% end %>
