<h2>RSVP For <%= @rsvp.user.first_name %></h2>

<div class="rsvp">
	<div class="field">
		<span class="label">Status:</span>
		<%= @rsvp.status %>
	</div>
	<div class="field">
		<span class="label">Comment:</span>
		<p><%= @rsvp.comment %></p>
	</div>
</div>