#event_index {
	text-align: center;
}
.event_group {
	margin-bottom: 3em;
	h2 img {
		vertical-align: middle;
	}
}
.event_group:last-child {
	margin-bottom: 0;
}
#event_details {
	text-align: center;
	#title {
		font-weight: bold;
	}
	#description {
		
	}
	#start {
		font-weight: bold;
	}
}