body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #0F0F0F;
    color: white;
    font-family: Verdana, Helvetica, Arial;
}
a, a:visited {
    color: red;
}

h2, h3, th {
    color: #9FD3E4;
    a, a:visited {
       color: #9FD3E4; 
    }
}

label {
    display: block;
    font-weight: bold;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

span.label {
    font-weight: bold;
}

.field {
    margin: 10px 0;
    label.checkbox_label {
        display: inline;
    }
}

.field_group {
    .field {
        margin: 0;
    }
}

#error_explanation {
    h2 {
        color: yellow;
    }
}

.field_with_errors {
    display: inline;
}

#container {
    max-width: 1080px;
    min-width: 640px;
    margin: 0 auto;
    padding: 5px 0;
    > div {
        padding: 0 5px;
    }
    > #flash {
        padding: 0;
    }
    #header {        
        height: 90px;
        text-align: center;
        position: relative;
        #event_links {
            position: absolute;
            left: 0;
            bottom: 0;
        }
        #account_links {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    #content {
        
    }
    #footer {
        font-size: 12px;
        text-align: right;
        margin-top: 20px;
        a, a:visited {
            color: #666;
        }
    }
}
#flash {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: black;
    > div {
        padding: 0 5px;
    }
    #flash_error {
        background-color: #FF6666;
    }
    #flash_notice, #flash_alert {
        background-color: yellow;        
    }
}