body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: lightblue;
}
#container {
    width: 1080px;
    margin: 0 auto;
    > div {
        padding: 0 5px;
    }
    #header {
        height: 30px;
        line-height: 30px;
        background-color: #ccccff;
        #quick_links {
            float: right;
        }
    }
    #content {
        background-color: white;
    }
}